<!-- header for main layout -->
<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome To Our Site!</div>
            <div class="intro-heading">Now never lose track of your money.</div>
            <a href="#create_account" class="btn btn-xl page-scroll">Create Account-<small>It's Free</small></a>
        </div>
    </div>
</header>