<!--Index -->
<!-- Index -->
<div class="page-header">
  <h3>Types</h3>
</div>
<div class="bs-component well">
	<%= simple_form_for(@daily_expense,:url => account_daily_expense_create_path,:html_options => {:class => "form-horizontal"}) do |f| %>
	  <fieldset>
	    <legend>Add Daily Expense</legend>
	    <div class="form-group col-lg-6">
	      <label for="inputEmail" class="col-lg-2 control-label">Note</label>
	      <div class="col-lg-4">
	      	 <%= f.input :note, :label =>false, required: true,  input_html: {class: 'form-control'}, :placeholder => "Type Name *" %>
	      	 <input type="text" class='datepicker' >
	      </div>
	    </div>
	    
	    <div class="form-group col-lg-6">
	      <div class="col-lg-4 col-lg-offset-2">
	        <button type="submit" class="btn btn-primary">Add Daily Expense</button>
	      </div>
	    </div>
	  </fieldset>
	<% end %>
</div>
<div class="bs-component">
	<table class="table table-striped table-hover ">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>Type Name</th>
	      <th>Status</th>
	      <th>Perform Action</th>
	    </tr>
	  </thead>
	  <tbody>
	  	
	  </tbody>
	</table> 
</div>

<script type="text/javascript">
  $(document).ready(function(){
  	alert("heloooo....");
	$('.datepicker').datepicker();
  });
</script>